<footer class="footer">
    <div class="footer__wrp">

        <div class="footer__content">
            <div class="footer__main">
                <div class="footer__item">
                    <span class="footer__item-pic footer__item-pic--mail"></span>
                    <a href="mailto: dom@gmail.com" class="footer__link">
                        dom@gmail.com
                    </a>
                </div>
                <div class="footer__item">
                    <span class="footer__item-pic footer__item-pic--geo"></span>
                    <p class="footer__link">
                        ул.&nbsp;Ивановская&nbsp;44, г.&nbsp;Иваново
                    </p>
                </div>
                <div class="footer__item">
                    <span class="footer__item-pic footer__item-pic--tel"></span>
                    <a href="tel: +380663111111" class="footer__link">
                        +38 066 311 11 11
                    </a>
                </div>
            </div>
        </div>

    </div>

</footer>

<div id="modal_popup" class="popup zoom-anim-dialog mfp-hide">

    <div class="popup__heading heading heading--h1 heading--align-center">
        НАПИШИТЕ НАМ
    </div>

    <form action="" class="form-data form_feedback">

        <div class="form-data__parametr">
            <input type="text" class="form-data__input" placeholder="Имя" name="name" required>
        </div>

        <div class="form-data__parametr">
            <input type="text" class="form-data__input" placeholder="Телефон" name="phone" required>
        </div>

        <div class="form-data__parametr">
            <input type="text" class="form-data__input" placeholder="Электронная почта" name="email">
        </div>

        <div class="form-data__parametr form-data__parametr--textarea">
            <textarea class="form-data__textarea" name="message" cols="30" rows="10">Ваши вопросы и комментарии</textarea>
        </div>

        <div class="form-data__parametr form-data__parametr--btn">
            <button type="submit" class="form-data__btn button button--secondary button--m">
                <span class="button__text button__text--popup">
                    Отправить
                </span>
            </button>
        </div>

    </form>

    <div class="popup__close">
        <span class="icon icon-close">close</span>
    </div>

</div>

<div id="modal_success" class="popup zoom-anim-dialog mfp-hide">

    <div class="popup__content popup__content_align_center">

        <div class="popup__heading heading heading--h2 heading--align-center">
            Спасибо за вашу заявку!
        </div>

        <div class="popup__subhead subheading heading--align-center">
            Мы свяжемся с Вами в ближайшее время!
        </div>

        <button class="popup__button popup__button_close form-data__btn button button--secondary button--m">
            <span class="button__text button__text--popup">
                Закрыть
            </span>
        </button>
    </div>

    <div class="popup__close">
        <span class="icon icon-close">close</span>
    </div>

</div>


<!--build:js js/vendor.min.js -->
<script src="js/jquery.min.js"></script>
<!--<script src="js/jquery-ui.min.js"></script>-->
<script src="js/slick.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.inputmask.bundle.js"></script>
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->
<!--build:js js/main.min.js -->
<script src="js/main.js"></script>
<!-- endbuild -->

<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjJGoGZpbHP0NAU5AdG_LmUGIVg-_HCL8&callback=initMap"-->
<!--async defer></script>-->
<!--<script src="js/map.js"></script>-->
</body>
</html>