<article class="requirements">
    <div class="requirements__inner container">
        <h2 class="requirements__title heading heading--h2">
            Вам понравится работать с нами, если вы
        </h2>
        <ul class="requirements__list">
            <li class="requirements__item">
                <div class="requirements__item-pic">
                    <img src="images/icon_house.png" alt="дом">
                </div>
                <span class="requirements__item-text">
                    Не&nbsp;понимаете, как выбрать
                    среди огромного многообразия
                    вариантов сегодня
                </span>
            </li>
            <li class="requirements__item">
                <div class="requirements__item-pic">
                    <img src="images/icon_lightbulb.png" alt="дом">
                </div>
                <span class="requirements__item-text">
                    Вдохновились образом дома
                    у&nbsp;друзей и, в&nbsp;целом, хотите нечто
                 подобное, но&nbsp;под вашу семью
                </span>
            </li>
            <li class="requirements__item">
                <div class="requirements__item-pic">
                    <img src="images/icon_photos.png" alt="дом">
                </div>
                <span class="requirements__item-text">
                    Знаете, что хотите примерно
                    (есть вырезки из&nbsp;журналов, отрывки
                    из&nbsp;голливудских фильмов, где вам
                    понравился особый элемент,
                    ссылки на&nbsp;фото)
                </span>
            </li>
            <li class="requirements__item">
                <div class="requirements__item-pic">
                    <img src="images/icon_magnifier.png" alt="дом">
                </div>
                <span class="requirements__item-text">
                    Не&nbsp;знаете, что именно хотите, но
                    есть желание построить то, чего ни
                    у&nbsp;кого нет с&nbsp;учетом всех последних
                    тенденций строительной моды
                </span>
            </li>
        </ul>
        <a href="#modal_popup" class="main-screen__btn button button--primary button--m js-popup-link">
            <span class="button__text">Воплотить мечту</span>
        </a>
    </div>
</article>