<article class="speech">
    <div class="speech__inner container grid-flex">
        <div class="speech__photo-wrp grid-flex__item--onehalf">
            <img src="../images/photo_aleksei.jpg" alt="Алексей">
        </div>
        <div class="speech__content grid-flex__item--onehalf">
            <h2 class="speech__title heading--h2 heading heading--light">
                Обращение Алексея
            </h2>
            <p class="speech__text">
                &laquo;Для каждого человека важными могут оказаться на
                первый взгляд совсем не&nbsp;принципиальные вещи&hellip;&raquo;
            </p>
            <p class="speech__text">
                Когда я&nbsp;строил себе дом, мне нужен был дом со
                вторым светом (когда со&nbsp;второго этажа видно первый &mdash;
                нет пола), большие панорамные окна, керамическая
                черепица&nbsp;&mdash; для меня это всегда был материал, который
                подчеркивает статус, бильярдная.
            </p>
            <p class="speech__text">
                На&nbsp;основании этих
                <nobr>4-х</nobr>
                моментов я&nbsp;собирал свой<br/>
                проект. Остальное мне было не&nbsp;важно. Не&nbsp;важен
                размер спальни, поскольку я&nbsp;понимал, что я&nbsp;прихожу
                туда спать или размер гостиной, где я&nbsp;не&nbsp;собирался
                проводить много времени. Важны были только 4
                момента, которые я&nbsp;для себя определил.
            </p>
            <p class="speech__text">
                В&nbsp;итоге я&nbsp;получил дом именно таким, каким хотел
                его видеть&nbsp;&mdash; наш семейный очаг.&nbsp;Построив не
                типовой дом, а&nbsp;четко под мой запрос и&nbsp;воплотив мою
                мечту, я&nbsp;сделал это делом своей жизни, которым
                занимаюсь уже&hellip; лет.
            </p>
        </div>
    </div>
</article>