<article class="steps">
    <div class="steps__inner container container--smallpadding">
        <h2 class="steps__title heading heading--h2 heading--light">
            Формат работы с нами
        </h2>
        <div class="steps__content">
            <div class="steps__list">
                <div class="steps__item steps__item--first">
                    <div class="steps__item-pic">
                        <img src="images/step1.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        первоначальный эскиз
                    </p>
                </div>
                <div class="steps__item steps__item--second">
                    <div class="steps__item-pic">
                        <img src="images/step2.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        3D визуализация
                    </p>
                </div>
                <div class="steps__item steps__item--third">
                    <div class="steps__item-pic">
                        <img src="images/step3.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        доработка идей<br />
                        и&nbsp;деталей
                    </p>
                </div>
                <div class="steps__item steps__item--sixth">
                    <div class="steps__item-pic">
                        <img src="images/step6.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        сдача-приемка
                    </p>
                </div>
                <div class="steps__item steps__item--fifth">
                    <div class="steps__item-pic">
                        <img src="images/step5.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        строительство
                    </p>
                </div>
                <div class="steps__item steps__item--fourth">
                    <div class="steps__item-pic">
                        <img src="images/step4.png" alt="этап работы">
                    </div>
                    <p class="steps__text">
                        утверждение проекта и<br />
                        подписание договора
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>