<article class="team">
    <div class="team__inner container container--smallpadding">
        <h2 class="team__title heading--h2 heading">
            наша команда
        </h2>
        <div class="team__photo-wrp">
            <img src="images/team.jpg" alt="наша команда">
        </div>
        <div class="team__list team-list-js grid-flex">
            <div class="team__member">
                <div class="team__member-photo">
                    <img src="images/team1.jpg" alt="наша команда">
                </div>
                <div class="team__member-content">
                    <p class="team__member-name">
                        Андрей Сидоров
                    </p>
                    <p class="team__member-role">
                        Архитектор
                    </p>
                </div>
            </div>
            <div class="team__member">
                <div class="team__member-photo">
                    <img src="images/team2.jpg" alt="наша команда">
                </div>
                <div class="team__member-content">
                    <p class="team__member-name">
                        Владимир Астахов
                    </p>
                    <p class="team__member-role">
                        Инженер
                    </p>
                </div>
            </div>
            <div class="team__member">
                <div class="team__member-photo">
                    <img src="images/team3.jpg" alt="наша команда">
                </div>
                <div class="team__member-content">
                    <p class="team__member-name">
                        Анна Бродская
                    </p>
                    <p class="team__member-role">
                        Дизайнер
                    </p>
                </div>
            </div>
            <div class="team__member">
                <div class="team__member-photo">
                    <img src="images/team1.jpg" alt="наша команда">
                </div>
                <div class="team__member-content">
                    <p class="team__member-name">
                        Андрей Сидоров
                    </p>
                    <p class="team__member-role">
                        Архитектор
                    </p>
                </div>
            </div>
            <div class="team__member">
                <div class="team__member-photo">
                    <img src="images/team1.jpg" alt="наша команда">
                </div>
                <div class="team__member-content">
                    <p class="team__member-name">
                        Андрей Сидоров
                    </p>
                    <p class="team__member-role">
                        Архитектор
                    </p>
                </div>
            </div>
        </div>
        <a href="#" class="team__btn button button--secondary button--m team-slidebtn-js">
            <span class="button__text">Показать еще</span>
        </a>
    </div>
</article>