<article class="advantages">
    <div class="advantages__inner container--smallpadding container">
        <h2 class="advantages__title heading--light heading heading--h2">
            почему мы
        </h2>
        <div class="advantages__content grid-flex">
            <div class="advantages__item">
                <span class="advantages__num">1</span>
                <p class="advantages__text">
                    Мы сами производим
                    строительные материалы
                </p>
            </div>
            <div class="advantages__item">
                <span class="advantages__num">2</span>
                <p class="advantages__text">
                    вы можете посетить наше
                    производство в любое время
                </p>
            </div>
            <div class="advantages__item">
                <span class="advantages__num">3</span>
                <p class="advantages__text">
                    мы не меняем смету
                    на протяжении всех работ
                </p>
            </div>
            <div class="advantages__item">
                <span class="advantages__num">4</span>
                <p class="advantages__text">
                    вы можете наблюдать за
                    всеми этапами работ 24/7
                </p>
            </div>
        </div>
    </div>
</article>