<article class="founder">
    <div class="founder__inner container--noppading">
        <h2 class="founder__title heading--light heading heading--h2">
            Обращение создателя
        </h2>
    </div>
    <div class="founder__inner grid-flex grid-flex--center container--noppading">
        <div class="founder__content founder__content--video grid-flex__item--onehalf">
            <div class="founder__video-wrp">
                <iframe src="https://www.youtube.com/embed/rRiLKlH8wmQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="founder__content founder__content--text grid-flex__item--onehalf">
            <a href="#modal_popup" class="founder__btn button button--l button--primary js-popup-link">
                <span class="button__text">Поделиться идеями моего дома</span>
            </a>
            <p class="founder__text text">
                Учитываем любые детали и&nbsp;готовы
                менять концепцию даже посреди
                работы, если вам это потребуется,
                потому что ваш дом должен радовать
                вашу семью
            </p>
        </div>
    </div>
</article>