<article class="gallery">
    <div class="gallery__inner">
        <h2 class="gallery__title heading--h2 heading">
            Мы&nbsp;не&nbsp;будем выставлять галерею типовых домов,
            чтобы вы&nbsp;сейчас выбрали дом как у&nbsp;всех
        </h2>
        <p class="gallery__subtitle subheading">
            Мы&nbsp;покажем, какие домa построили под
            конкретные задачи наших клиентов
        </p>
        <div class="gallery__list slider">
            <div class="gallery__item">
                <img src="images/gallery1.jpg" alt="пример" class="gallery__item-pic">
                <div class="gallery__item-content">
                    <span class="gallery__item-text">Строительство дома на&nbsp;ул.&nbsp;Комсомольская 21.</span>
                </div>
            </div>
            <div class="gallery__item">
                <img src="images/gallery1.jpg" alt="пример" class="gallery__item-pic">
                <div class="gallery__item-content">
                    <span class="gallery__item-text">Строительство дома на&nbsp;ул.&nbsp;Комсомольская 21.</span>
                </div>
            </div>
            <div class="gallery__item">
                <img src="images/gallery1.jpg" alt="пример" class="gallery__item-pic">
                <div class="gallery__item-content">
                    <span class="gallery__item-text">Строительство дома на&nbsp;ул.&nbsp;Комсомольская 21.</span>
                </div>
            </div>
        </div>
    </div>
</article>