<header class="header">
    <div class="header__wrp">

        <nav class="header__navigation navigation navigation_type_inline">
            <ul class="navigation__list">
                <li class="navigation__item">
                    <a href="#" class="navigation__link">
                        LOGO
                    </a>
                </li>

                <li class="navigation__item">
                    <a href="tel: +380663111111" class="navigation__link">
                        +38 066 311 11 11
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>