<!doctype html>
<html lang="ru-RU">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Строительство домов</title>
    <meta name="description" content="Строительство домов">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="images/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="images/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="images/favicon/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="http://mstile-144x144.png" />

    <!--build:css css/vendor.min.css-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <!--<link rel="stylesheet" href="css/jquery-ui.css">-->
    <!-- bower:css -->
    <!-- endbower -->
    <!--endbuild-->

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="css/style.css">
    <!--endbuild-->

    <!--[if (gte IE 6)&(lte IE 8)]>
    <script type="text/javascript" src="js/html5shiv.js"></script>
    <script type="text/javascript" src="js/selectivizr-min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">
        Вы используете <strong>старую версию</strong> браузера.
        Пожалуйста <a href="http://browsehappy.com/">обновите ваш браузер</a>
        перейдя по ссылке.
    </p>
    <![endif]-->