<section class="advantages">
    <div class="advantages__inner">
        <h2 class="steps__title">
            Формат работы с нами
        </h2>
        <div class="steps__content">
            <div class="steps__row">
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        первоначальный эскиз
                    </p>
                </div>
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        3D визуализация
                    </p>
                </div>
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        доработка идей<br />
                        и&nbsp;деталей
                    </p>
                </div>
            </div>
            <div class="steps__row">
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        сдача-приемка
                    </p>
                </div>
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        строительство
                    </p>
                </div>
                <div class="steps__item">
                    <img src="" alt="">
                    <p class="steps__text">
                        утверждение проекта и<br />
                        подписание договора
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>