<article class="timber-adv">
    <div class="timber-adv__inner container container--smallpadding">
        <h2 class="timber-adv__title heading heading--h2 heading--light">
            Преимущества клееного бруса
        </h2>
        <div class="timber-adv__content">
            <div class="timber-adv__row">
                <div class="timber-adv__item timber-adv__item--therm">
                    <p class="timber-adv__text">
                        Сопротивление теплопередаче<br/>
                        выше, чем у&nbsp;цельной древесины
                    </p>
                </div>
                <div class="timber-adv__item timber-adv__item--fire">
                    <p class="timber-adv__text">
                        Предел огнестойкости выше, чем<br/>
                        у&nbsp;металлических конструкций
                    </p>
                </div>
                <div class="timber-adv__item timber-adv__item--eco">
                    <p class="timber-adv__text">
                        Не&nbsp;наносит ущерба окружающей<br/>
                        среде при производстве и<br/>
                        эксплуатации
                    </p>
                </div>
            </div>
            <div class="timber-adv__row timber-adv__row--pic">
                <img src="images/timber-house.png" alt="преимущества клееного бруса">
            </div>
            <div class="timber-adv__row">
                <div class="timber-adv__item timber-adv__item--house">
                    <p class="timber-adv__text">
                        Возможность изготовления<br />
                        конструкций больших размеров
                    </p>
                </div>
                <div class="timber-adv__item timber-adv__item--checklist">
                    <p class="timber-adv__text">
                        Повышенные, по&nbsp;сравнению с<br />
                        материалом из&nbsp;массива<br />
                        древесины, значения прочности
                    </p>
                </div>
                <div class="timber-adv__item timber-adv__item--like">
                    <p class="timber-adv__text">
                        Стабильность формы готового<br />
                        изделия в&nbsp;процессе<br />
                        изготовления и&nbsp;эксплуатации
                    </p>
                </div>
            </div>
        </div>
        <p class="timber-adv__slogan">
            С&nbsp;заботой о&nbsp;вас, Вятский&nbsp;Терем
        </p>
        <a href="#modal_popup" class="timber-adv__btn button button--primary button--m js-popup-link">
            <span class="button__text">Воплотить мечту</span>
        </a>
    </div>
</article>