//Vars


//Breakpoint
$breakpointDisplay: 'screen and (max-width: 1439px)';
$breakpointTablet: 'screen and (max-width: 1023px)';
$breakpointMobile: 'screen and (max-width: 767px)';

$col_lg: 72px;
$col_md: 51.2px;
$col_sm: 38.4px;
$col_xs: 16px;


//Colors

$color-primary: #ecb029;
$color-secondary: #6f8ffc;
$color-secondary--darken: #2f4bc1;
$color-secondary--darkest: #1b2f8a;

$color-lightest: #ffffff;
$color-darkest: #000000;
$color-bg-dark: #16162b;

$color-grey: #8b8b8b;
$color-grey--darken: #494949;