.requirements {

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: em(20);
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    background-image: url("../images/icon_question.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    @media #{$breakpointDisplay} {
      background-size: 20% ;
      background-position: 50% 55%;
    }
    @media #{$breakpointMobile} {
      background-image: none;
    }
  }

  &__item {
    width: 40%;
    padding-top: 40px;
    padding-bottom: 60px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media #{$breakpointTablet} {
      width: 45%;
    }
    @media #{$breakpointMobile} {
      width: auto;
      max-width: 300px;
      margin: auto;
      padding: em(20) em(10);
    }

    img {
      transition: all 1s;
    }

    &:hover img{
      transform: scale(1.1);
    }
  }

  &__item-text {
    font-size: em(20,16);
    line-height: em(30,20);
    padding-top: em(15);
    //@media #{$breakpointDisplay} {
    //  font-size: em(16);
    //}
  }
}